@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC&display=swap");
:root {
   --black: #282820;
   --black-dim: #202020ee;
   --gray: #666666;
   --blue-gray: #8493A0;
   --blue-gray-alpha: #b0c8ddee;
   --dark-blue-gray: #384c5e;
   --ivory: #FFFDE6;
   --ivory-dim: #FFFDE699;
   --pastel-green: #dfead0;
   --sandy-purple: #a08493;
   --log-button: #d4e892;
   --notebook-button: #e6a373;
   --abunscar-button: #87b4e8;
   --unfinished-button: #ffbd23;
}

@keyframes ripple {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Patrick Hand SC", sans-serif;
}

h3 {
  font-size: 2rem;
}

hr {
  margin: 5px 40px;
}

.bold-300 {
  font-weight: 100;
  font-size: 1.1em;
}

.TQY-logo {
  width: 356px;
  height: 60px;
  background-image: url(./assets/logo.png);
  background-size: contain;
  margin: 0;
}

button, input {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  transition: all 235ms ease 0s;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  transition: all 235ms ease-in-out 0s;
  color: #41403e;
  border-color: #41403e;
  align-self: center;
  background-image: none;
  border-style: solid;
  border-width: 2px;
  padding: 0.25rem;
  font-family: "Patrick Hand SC", sans-serif;
  font-size: 1.25em;
}

.menu-button {
  position: relative;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 0 0 50px 50px;
  box-shadow: 8px 5px rgba(0, 0, 200, 0.2);
  transform: translate(0, -31px);
  transition: all 0.2s;
  overflow: hidden;
  border: none;
  align-items:end;
  justify-content: center;
  padding-bottom: 10px;
  background-color: white;
}

.menu-button:hover {
  height: 175px;
  width: 120px;
  border-radius: 0 0 60px 60px;
  border: none;
  transform: translate(0, -31px);
  box-shadow: 8px 5px rgba(0, 0, 200, 0.2);
}

.ripple {
  position: absolute;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  animation: ripple 0.6s;
  z-index: 1;
}

  .scab-button, .scab-button:hover {
    border: 2px solid var(--abunscar-button);
  }
  .adv-button, .adv-button:hover {
    border: 2px solid var(--log-button);
  }
  .note-button, .note-button:hover {
    border: 2px solid var(--notebook-button);
  }
  .proj-button, .proj-button:hover {
    border: 2px solid var(--unfinished-button);
  }

.adv-button-icon, .notebook-icon, .scarabun-icon, .project-icon {
  background-color: white;
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  z-index: 200;
  pointer-events: none;
}

.adv-button-icon {
  background-image: url('./assets/advLogIcon.png');
}

.notebook-icon {
  background-image: url('./assets/notebookIcon.png');
}

.scarabun-icon {
  background-image: url('./assets/scarAbunIcon.png');
}

.project-icon  {
  background-image: url('./assets/unfinishedProjectIcon.png');
}

button {
  margin: 10px;
}
  button:hover {
    transform: translate3d(0, 2px, 0);
    box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
  }

input {
  padding: 0.1rem 0.25rem;
}

textarea {
  font-family: 'Martel', serif;
  resize: none;
  width: 500px;
  height: 200px;
  margin: 5px;
}

.unclickable {
  pointer-events: none;
}

.canvas-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.component-container {
  position: absolute;
}

.turn-action,
.action-buttons,
.toggle-button-wrapper {
  display: inline-flex;
}

.toggle-button-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
}

.action-director-container {
  position: absolute;
  top: 10%;
  font-size: 2em;
  width: 60%;
  padding: 0 20%;
  overflow-wrap: break-word;
}

.small-direction {
  font-size: .7em;
}

.action-director {
  text-align: center;
  position: relative;
  top: 15%;
}

.action-buttons {
  padding-top: 5px;
}

.adventure-log-container,
.notebook-container,
.input-container,
.scarcity-abundance-container,
.second-action-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 var(--blue-gray), 0 0 0 2px var(--blue-gray);
}

.second-action-container {
  z-index: 1;
  width: 250px;
}

.input-container {
  padding: 30px;
  z-index: 10;
}

.adventure-log-container {
  width: 400px;
  height: 500px;
  z-index: 50;
}

.dice-adventure-log {
  width: 30px;
  height: 30px;
}

.notebook-container {
  width: 300px;
  height: 430px;
  z-index: 30;
}

.scarcity-abundance-container {
  width: 750px;
  height: 400px;
  z-index: 40;
}

.scarcities-abundances-title {
  width: 100%;
  height: 10%;
}

.list-scarcities-abundances {
  display: flex;
  width: 100%;
  height: 80%;
}

.scarcities-section,
.abundances-section {
  height: 100%;
  width: 50%;
}

.list-scarcities,
.list-abundances {
  width: 90%;
  height: 80%;
  overflow-y: auto;
}

.scarcities-abundances-input {
  width: 100%;
  height: 20%;
}

.scarcities-abundance-mass-transfer-button {
  width: 100%;
  height: 10%;
  margin: 10px 0;
}

li {
  list-style-position: inside;
}

input {
  margin: 5px;
}

.out-of-turn-action-container {
  position: fixed;
  top: 2%;
  right: 2%;
  background-color: var(--ivory-dim);
  padding: 20px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-color: #97793e;
  border-style: solid;
  border-width: 3px;
  box-shadow: 0 4px 6px var(--blue-gray);
  width: 400px;
  word-wrap: break-word;
}

.action-type {
  font-size: 1.5em;
}

.action-prompt {
  font-size: 1.2em;
  padding: 10px 0px;
}

.action-description {
  font-size: 1.1em;
}

.discussion-player {
  font-weight: bold;
}

.discussion-statement {
  padding: 4px;
}

.react-p5 {
  width: 96%;
  margin: 0 2%;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  transition: all 235ms ease 0s;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  transition: all 235ms ease-in-out 0s;
  color: #41403e;
  border-color: #97793e;
  align-self: center;
  background-image: none;
  border-style: solid;
  border-width: 3px;
  padding: 1%;
  background-color: var(--ivory);
  
}

.top-left {
  top: 10px;
  left: 10px;
}

.top-right {
  top: 10px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  position: absolute;
  z-index: 0;
}

.card-item {
  border-radius: 20px;
  border: solid rgb(51, 51, 51) 1px;
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
  padding: 10px;
  width: 250px;
  height: 400px;
}

.card-title {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  font-family: 'Martel', serif;
}

.title-spacing {
  margin-right: 30px;
}

.suit-icon {
  height: 7vh;
  width: 7vh;
  position: absolute;
  top: -15px;
  left: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: none;
  border-color: none;
  border-style: none;
  border-width: 0;
  display:inline;
  height: auto;
  max-width: none;
}

.card-prompts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 348px;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-prompt {
  margin: 10px;
  border: none;
  background-color: transparent;
  width: 100%;
  font-family: 'Martel', serif;
  box-shadow: none;
  font-size: 0.8em;
}

.card-prompt:hover {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}

.single-log {
  border: 3px solid var(--blue-gray);
  border-radius: 15px;
  margin: 30px 0;
  /* margin-bottom: -3px; */
  width: 350px;
  height: auto;
  /* padding: 5px 0px 0px 5px; */
  /* word-wrap: break-word; */
  position: relative;
}
    .single-log-title{
      position: absolute;
      top: -35px;
      left: 10px;
      color: white;
      padding: 0;
      border-radius: 5px;
      font-size: 3em;
      text-shadow: 0 0 4px var(--blue-gray), 0 0 4px var(--blue-gray), 0 0 6px var(--blue-gray), 0 0 5px var(--blue-gray);
    }
      .single-log-player {
        position: relative;
        top: -15px;
        left: 0px;
        font-size: 0.4em;
        font-weight: bolder;
        color: var(--blue-gray);
        text-shadow: none;
      }
    .single-log-infos {
      position: relative;
      top: 0px;
      display: grid;
      padding: 5px;
      padding-top: 60px;
      grid-template-columns: 100%;
      grid-template-rows: 20% 20% 20% 20%;
    }
      .single-log-prompt {
        grid-row-start: 1;
        top: 50px;
        left: 0px;
        border-radius: 10px;
        background-color: var(--blue-gray-alpha);
        color: var(--dark-blue-gray);
        font-weight: bold;
        padding: 5px 20px;
      }
          .log-card-icon {
            position: absolute;
            right: 5px;
            top: 40px;
            width: 30px;
            height: 30px;
            background-image: url(./assets/logCardIcon.png);
          }
      .action-0 {
        grid-row-start: 2;
      }
          .action-0-type {
            position: absolute;
            top: 10px;
            right: 10px;
            align-items: right;
            font-size: 1.4em;
            font-weight: 700;
            color: var(--dark-blue-gray);
            background-color: var(--blue-gray-alpha);
            padding: 0 10px;
            border-radius: 20px;
          }
          .action-0-specifics {
            padding: 10px;
          }
      
      .action-1 {
        position: relative;
        grid-row-start: 3;
        background-color: var(--blue-gray);
        border-radius: 15px;
        margin-top: 20px;
        padding: 10px;
      }
        .action-1-title{
          position: absolute;
          font-size: 2em;
          font-weight: 900;
          top: -25px;
          left: 15px;
          color: white;
          text-shadow: 0 0 4px var(--blue-gray), 
                       0 0 4px var(--blue-gray), 
                       0 0 5px var(--blue-gray), 
                       0 0 5px var(--blue-gray), 
                       0 0 6px var(--blue-gray);
        }      
        .action-1-type {
          position: relative;
          top: 0px;
          right: 0px;
          text-align: right;
          font-size: 1.4em;
          font-weight: 700;
          color: var(--blue-gray);
          padding: 0 10px;
          border-radius: 20px;
          text-shadow: 0 0 3px white, 
                       0 0 3px white, 
                       0 0 3px white, 
                       0 0 3px white, 
                       0 0 3px white;
        }
        .action-1-specifics {
          color: white;
        }

    .comp-project-title {
      font-size: 1.5em;
      font-weight: bolder;
      margin-top: 15px;
      color: var(--dark-blue-gray);
    }

    .log-comp-project {
      background-color: var(--blue-gray-alpha);
      border-radius: 0 0 15px 15px;
      padding: 5px 10px;
      margin: -5px;
    }
        .log-comp-project-player {
          display: inline-flex;
          color: var(--dark-blue-gray);
        }
            .comp-project-player-name {
              color: white;
              font-weight: bolder;
              white-space: nowrap;
              margin-right: 5px;
              font-size: 1.2em;
              text-shadow: 0 0 2px var(--blue-gray), 
                       0 0 2px var(--blue-gray), 
                       0 0 2px var(--blue-gray), 
                       0 0 2px var(--blue-gray), 
                       0 0 2px var(--blue-gray);
            }

.list-note,
.list-log {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.list-log {
  height: 450px;
}
