/* styles.css */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.component-container {
  position: absolute;
}

.turn-action {
  display: inline-flex;
  width: 300px;
}

.action-buttons {
  display: inline-flex;
}

.action-buttons > * {
  margin: 20px;
}

/* styles.css */
.adventure-log-container {
  position: fixed;
  width: 400px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.notebook-container {
  position: fixed;
  width: 300px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li {
  list-style-position: inside;
}

/* Adjust the position of your components using top, right, bottom, left properties */
.top-left {
  top: 10px;
  left: 10px;
}

.top-right {
  top: 10px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.map {
  position: absolute;
  z-index: 0;
}

/* CARD */
.card-item {
  border-radius: 20px;
  background-color: beige;
  border: solid rgb(34, 34, 34) 5px;
  padding: 10px;
  width: 250px;
  height: 400px;
}

.prompt {
  margin: 10px;
}

.log {
  border: 2px solid black;
  border-radius: 2px;
  margin: 1px;
  margin-bottom: -3px;
  width: 350px;
  height: 100px;
  padding: 20px 0px 0px 20px;
}

.list-note, .list-log {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.list-log {
  height: 450px;
}