* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.component-container {
  position: absolute;
}

.turn-action,
.action-buttons {
  display: inline-flex;
}

.action-buttons > * {
  margin: 20px;
}

.adventure-log-container,
.notebook-container,
.input-container,
.scarcity-abundance-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.adventure-log-container {
  width: 400px;
  height: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.notebook-container,
.input-container {
  width: 300px;
  height: 400px;
}

.scarcity-abundance-container {
  width: 400px;
  height: 400px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.scarcities-abundances-title {
  width: 100%;
  height: 10%;
}

.list-scarcities-abundances {
  display: flex;
  width: 100%;
  height: 80%;
}

.scarcities-section,
.abundances-section {
  height: 100%;
  width: 50%;
}

.list-scarcities,
.list-abundances {
  width: 90%;
  height: 80%;
}

.scarcities-abundances-input {
  width: 100%;
  height: 20%;
}

.scarcities-abundance-mass-transfer-button {
  width: 100%;
  height: 10%;
}

li {
  list-style-position: inside;
}

.top-left {
  top: 10px;
  left: 10px;
}

.top-right {
  top: 10px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.map {
  position: absolute;
  z-index: 0;
}

.card-item {
  border-radius: 20px;
  border: solid rgb(51, 51, 51) 1px;
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
  padding: 10px;
  width: 250px;
  height: 400px;
  font-family: 'Martel', serif;
}

.card-title {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

.title-spacing {
  margin-right: 30px;
}

.suit-icon {
  height: 80px;
  width: 80px;
  position: absolute;
  top: -15px;
  left: 0px;
}

.card-prompts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 348px;
}

.prompt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-prompt {
  margin: 10px;
  border: none;
  background-color: transparent;
  width: 100%;
  font-family: 'Martel', serif;
}

.card-prompt:hover {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}

.log {
  border: 2px solid black;
  border-radius: 2px;
  margin: 1px;
  margin-bottom: -3px;
  width: 350px;
  height: 100px;
  padding: 20px 0px 0px 20px;
}

.list-note,
.list-log {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.list-log {
  height: 450px;
}
